<div class="page-container">
  <div class="page-title">
    <h1>Kanban Boards</h1>
  </div>
  <div>
    <button mat-raised-button (click)="openDialogForNewKanban()">+ Create Kanban</button>
  </div>

  <div class="main-card">
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>Created</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let kanban of kanbanList">
        <td>{{kanban.title}}</td>
        <td>{{kanban.createdAt}}</td>
        <td>
          <a mat-raised-button class="nav-link" routerLink="/kanbans/{{kanban.id}}">Open</a>
          <a mat-raised-button (click)="deleteKanban(kanban.id)">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


</div>

